@if (impresion != 1) {
<app-user-navbar></app-user-navbar>
}

<div class="container mt-5">
    <h1 class="mb-4">Ticket de turno</h1>
    <div class="row justify-content-center">
        <div class="card col-md-12 app-card">
            <form>
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="tramitante" class="form-label">Nombre completo de quien realizará el
                            trámite:</label>
                        <input type="text" class="form-control" id="tramitante" name="tramitante"
                            [(ngModel)]="ticketFilter.tramitante" />
                    </div>
                    <div class="col-6">
                        <label for="curp" class="form-label">CURP:</label>
                        <input type="text" class="form-control" id="curp" name="curp" [(ngModel)]="ticketFilter.curp" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-4">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre"
                            [(ngModel)]="ticketFilter.nombre" />
                    </div>
                    <div class="col-4">
                        <label for="paterno" class="form-label">Ap. Paterno:</label>
                        <input type="text" class="form-control" id="paterno" name="paterno"
                            [(ngModel)]="ticketFilter.apPaterno" />
                    </div>
                    <div class="col-4">
                        <label for="materno" class="form-label">Ap. Materno:</label>
                        <input type="text" class="form-control" id="materno" name="materno"
                            [(ngModel)]="ticketFilter.apMaterno" />
                    </div>
                </div>

                <div class="mb-3">
                    <label for="nivel" class="form-label">¿Nivel al que desea ingresar o que ya cursa el alumno?</label>
                    <select class="form-select" id="nivel" name="nivel" [(ngModel)]="ticketFilter.idNivel">
                        <option value="" disabled selected hidden>Seleccionar nivel</option>
                        @for (item of niveles; track $index) {
                        <option [value]="item.idNivel">{{ item.nombre }}</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label for="municipio" class="form-label">Municipio donde desea que estudie el alumno:</label>
                    <select class="form-select" id="municipio" name="municipio" [(ngModel)]="ticketFilter.idMunicipio">
                        <option value="" disabled selected hidden>Seleccionar municipio</option>
                        @for (item of municipios; track $index) {
                        <option [value]="item.idMunicipio">{{ item.nombre }}</option>
                        }
                    </select>
                    @if (ticketFilter.idMunicipio != idMunicipioOg) {
                    <b>Atención: Si cambia el municipio perderá su turno actual.</b>
                    }
                </div>

                <div class="mb-3">
                    <label for="asunto" class="form-label">Seleccione el asunto que va a tratar:</label>
                    <select class="form-select" id="asunto" name="asunto" [(ngModel)]="ticketFilter.idAsunto">
                        <option value="" disabled selected hidden>Seleccionar asunto</option>
                        @for (item of asuntos; track $index) {
                        <option [value]="item.idAsunto">{{ item.nombre }}</option>
                        }
                    </select>
                </div>

                @if (ticketFilter.idTicket > 0) {
                <div class="mb-3">
                    <label for="numTurno" class="form-label">N° de turno</label>
                    <input type="number" class="form-control" id="numTurno" name="numTurno" disabled="true"
                        [(ngModel)]="ticketFilter.numTurno" />
                </div>
                }

                @if (impresion != 1) { <div class="mb-3 action-row">
                    <button type="submit" class="btn btn-primary" (click)="btnSave()">{{ ticketFilter.idTicket > 0 ?
                        'Modificar' :
                        'Registrar' }}</button>
                    <button type="button" class="btn btn-secondary" (click)="goBack()">Atrás</button>
                </div>
                }
                @if (impresion > 0) { <div class="mb-3 qr-container">
                    <qrcode [qrdata]="ticketFilter.curp" [width]="300" [errorCorrectionLevel]="'M'"
                        [allowEmptyString]="true">
                    </qrcode>
                </div>
                }
            </form>
        </div>
    </div>
</div>